body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Times New Roman", Times, serif;
    background-color: #c8b89a;
}
form {
    width: 23vw;
    padding: 10px;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

form input {
    display: block;
    width: 100%;
    height: 47px;
    padding: 1px 1px 1px 10px;
    margin: 0.9vw 0;
    font-size: 20px;
    font-family: "Times New Roman",Times, serif;
    background-color: #EBE4CF;
    border: 1px solid black;
}

.title {
    text-align: center;
    font-size: 80px;
    font-family: "Edwardian Script ITC", "Edwardian Script", cursive;
    margin-bottom: 4vh;
    font-weight: 400;
}

.btn {
    background-color: #A1916F;
    border: 1px solid black;
    bottom: 56px;
    font-family: "Edwardian Script ITC", "Edwardian Script", cursive;
    font-size: 30px;
    padding: 10px 22px;
    margin-top: 7vh;
}
.btn:hover{
    background-color: #D9D4C0;
}

.link {
    color: black;
    margin: 40px auto;
    font-size: 17px;
    text-decoration: none;
}
.link:hover {
    text-decoration: underline;
}

.password-container {
    position: relative;
    width: 100%;
}
.password-container input {
    width: 100%;

}
.eye-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    cursor: pointer;
}

#login-password {
    anchor-name: --password-input;
}
#login-eye {
    position: absolute;
    position-anchor: --password-input;
    top: anchor(30%);
    bottom: anchor(bottom);
    right: anchor(right);
    margin: 10px;
    background: none;
    border: none;
    cursor: pointer;
}
#signup-password {
    anchor-name: --password-input;
}
#signup-eye {
    position: absolute;
    position-anchor: --password-input;
    top: anchor(30%);
    bottom: anchor(bottom);
    right: anchor(right);
    margin: 10px;
    background: none;
    border: none;
    cursor: pointer;
}

.alert-box{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    min-width: 150px;
    max-width: 90%;
    width: auto;
    height: auto;
    padding: 12px;
    background-color: #A1916F;
    border: black;
    color: white;
    animation: down 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

@keyframes down {
    from {top: 0;}
    to {top: 60px}
}